.mainContent {
	width: 100vw;
	min-height: 90vh;
	background-color: #f2f2f2;

	display: flex;
	justify-content: center;
}

.container {
	width: 80vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
