.containerCard {
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	margin-top: 20px;

	img: {
		width: 100%;
		object-fit: cover;
		margin-top: -10px;
		border-radius: 8px;
	}
}
